<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		                    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		                    http://www.springframework.org/schema/context 
		                    http://www.springframework.org/schema/context/spring-context-3.0.xsd
		                    http://www.springframework.org/schema/tx 
		                    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		                    http://www.springframework.org/schema/aop 
		                    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		                    http://code.alibabatech.com/schema/dubbo     
	    					http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


	<!-- 具体的实现bean -->
	<bean id="parkOutInService" class="cn.rf.hz.web.cloudpark.impl.ParkOutInServiceImp" />

	<!-- 提供方应用信息，用于计算依赖关系 -->
	<dubbo:application name="cloudpark" />

	<!-- 使用zookeeper注册中心暴露服务地址 -->
	<!--<dubbo:registry address="zookeeper://192.168.0.81:2181" /> -->
 	<dubbo:registry protocol="zookeeper" address="192.168.0.81:2181,192.168.0.82:2181,192.168.0.83:2181"/>
	  <!--  <dubbo:registry protocol="zookeeper"  address="192.168.2.17:2181,192.168.2.18:2181,192.168.2.19:2181"/>  -->


	<!-- 用dubbo协议在20880端口暴露服务 -->
	<dubbo:protocol name="dubbo" server="netty" client="netty" port="20880" serialization="hessian2" />
	<!--<dubbo:protocol name="rmi" port="20881"/> -->
	<!--<dubbo:protocol name="hessian" port="20882" /> -->

	<!-- 声明需要暴露的服务接口 -->
	<dubbo:service interface="com.reformer.cloudpark.service.ParkOutInService"
		ref="parkOutInService" timeout="3000" version="1.0.0" />

	<dubbo:service interface="com.reformer.cloudpark.service.ParkingInformation"
		ref="parkingInformation" timeout="3000" version="1.0.0" />

	<dubbo:service interface="com.reformer.cloudpark.service.QueryBlackWhite"
		ref="queryBlackWhite" timeout="3000" version="1.0.0" />

	<dubbo:service interface="com.reformer.cloudpark.service.Tc_userinfoService"
		ref="userinfoService" timeout="3000" version="1.0.0" />
	<dubbo:service interface="com.reformer.cloudpark.service.KFrameService"
		ref="kframeService" timeout="3000" version="1.0.0" />
	<dubbo:service interface="com.reformer.cloudpark.service.MessageSendService"
		ref="messageSendService" timeout="3000" version="1.0.0" />

	<dubbo:service interface="com.reformer.cloudpark.service.GenerateTaskService"
		ref="generatetaskservice" timeout="3000" version="1.0.0" />

</beans>
