<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rf.hz.web.cloudpark.daoxx.Tr_taskMapper">
	<resultMap id="BaseResultMap" type="cn.rf.hz.web.cloudpark.moder.Tr_task">
		<id column="fid" property="fid" jdbcType="INTEGER" />
		<result column="fparkingNo" property="fparkingno" jdbcType="VARCHAR" />
		<result column="fparkingName" property="fparkingname" jdbcType="VARCHAR" />
		<result column="fjobTime" property="fjobtime" jdbcType="TIMESTAMP" />
		<result column="fipAddress" property="fipaddress" jdbcType="VARCHAR" />
		<result column="fcreateTime" property="fcreatetime" jdbcType="TIMESTAMP" />
		<result column="fmodifyTime" property="fmodifytime" jdbcType="TIMESTAMP" />
		<result column="fstate" property="fstate" jdbcType="BIT" />
	</resultMap>
	<sql id="Base_Column_List">
		fid, fparkingNo, fparkingName, fjobTime, fipAddress, fcreateTime,
		fmodifyTime, fstate
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tr_task
		where fid = #{fid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from tr_task
		where fid = #{fid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="cn.rf.hz.web.cloudpark.moder.Tr_task">
		insert into tr_task (fid, fparkingNo, fparkingName,
		fjobTime, fipAddress, fcreateTime,
		fmodifyTime, fstate)
		values (#{fid,jdbcType=INTEGER}, #{fparkingno,jdbcType=VARCHAR},
		#{fparkingname,jdbcType=VARCHAR},
		#{fjobtime,jdbcType=TIMESTAMP}, #{fipaddress,jdbcType=VARCHAR}, #{fcreatetime,jdbcType=TIMESTAMP},
		#{fmodifytime,jdbcType=TIMESTAMP}, #{fstate,jdbcType=BIT})
	</insert>
	<insert id="insertSelective" parameterType="cn.rf.hz.web.cloudpark.moder.Tr_task">
		insert into tr_task
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="fid != null">
				fid,
			</if>
			<if test="fparkingno != null">
				fparkingNo,
			</if>
			<if test="fparkingname != null">
				fparkingName,
			</if>
			<if test="fjobtime != null">
				fjobTime,
			</if>
			<if test="fipaddress != null">
				fipAddress,
			</if>
			<if test="fcreatetime != null">
				fcreateTime,
			</if>
			<if test="fmodifytime != null">
				fmodifyTime,
			</if>
			<if test="fstate != null">
				fstate,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="fid != null">
				#{fid,jdbcType=INTEGER},
			</if>
			<if test="fparkingno != null">
				#{fparkingno,jdbcType=VARCHAR},
			</if>
			<if test="fparkingname != null">
				#{fparkingname,jdbcType=VARCHAR},
			</if>
			<if test="fjobtime != null">
				#{fjobtime,jdbcType=TIMESTAMP},
			</if>
			<if test="fipaddress != null">
				#{fipaddress,jdbcType=VARCHAR},
			</if>
			<if test="fcreatetime != null">
				#{fcreatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="fmodifytime != null">
				#{fmodifytime,jdbcType=TIMESTAMP},
			</if>
			<if test="fstate != null">
				#{fstate,jdbcType=BIT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.rf.hz.web.cloudpark.moder.Tr_task">
		update tr_task
		<set>
			<if test="fparkingno != null">
				fparkingNo = #{fparkingno,jdbcType=VARCHAR},
			</if>
			<if test="fparkingname != null">
				fparkingName = #{fparkingname,jdbcType=VARCHAR},
			</if>
			<if test="fjobtime != null">
				fjobTime = #{fjobtime,jdbcType=TIMESTAMP},
			</if>
			<if test="fipaddress != null">
				fipAddress = #{fipaddress,jdbcType=VARCHAR},
			</if>
			<if test="fcreatetime != null">
				fcreateTime = #{fcreatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="fmodifytime != null">
				fmodifyTime = #{fmodifytime,jdbcType=TIMESTAMP},
			</if>
			<if test="fstate != null">
				fstate = #{fstate,jdbcType=BIT},
			</if>
		</set>
		where fid = #{fid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.rf.hz.web.cloudpark.moder.Tr_task">
		update tr_task
		set fparkingNo = #{fparkingno,jdbcType=VARCHAR},
		fparkingName = #{fparkingname,jdbcType=VARCHAR},
		fjobTime = #{fjobtime,jdbcType=TIMESTAMP},
		fipAddress = #{fipaddress,jdbcType=VARCHAR},
		fcreateTime = #{fcreatetime,jdbcType=TIMESTAMP},
		fmodifyTime = #{fmodifytime,jdbcType=TIMESTAMP},
		fstate = #{fstate,jdbcType=BIT}
		where fid = #{fid,jdbcType=INTEGER}
	</update>

	<select id="findJobparkingNO" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tr_task where fstate =0 limit 50
	</select>

	<update id="updateByparkingNo" parameterType="Object">
		update tr_task
		set 	fmodifyTime = CURRENT_TIMESTAMP,
		fstate = 1
		where fparkingNo = #{parkingNo,jdbcType=VARCHAR}
	</update>
	
	<update id="updatejobTime" parameterType="Object">
		update tr_task
		set 	fjobtime = CURRENT_TIMESTAMP
		where fparkingNo = #{parkingNo,jdbcType=VARCHAR}
	</update>


	<update id="recorveryState" parameterType="Object">
		update tr_task  set
		fmodifyTime = CURRENT_TIMESTAMP ,  fstate = 0
	</update>



</mapper>